<h1><%= @user.name %></h1>

Your orders:
<ul>
   <% @user.orders.each do |order| %>
      <li> <%= link_to order.created_at, order_path(order) %> </li>
   <% end %>
</ul>

<%= link_to "edit", edit_user_path(@user) %>

<%= link_to 'delete',  user_path(@user),  method: :delete%>